<header class="header">
  <nav class="header-nav">
    <a routerLink="/"><img class="logo" src="assets/images/logo.svg" alt="logo"></a>
    <ng-container *ngFor="let navLink of headerNavLinks">
      <a class="nav-link" [routerLink]="navLink.link">{{ navLink.text }}</a>
    </ng-container>
  </nav>
  <div class="options">
    <a class="phone-link" href="tel:+3035550105">(303) 555-0105</a>
    <select>
      <ng-container *ngFor="let langPick of languagesOptions">
        <option>{{ langPick.lang }}</option>
      </ng-container>
    </select>
  </div>
</header>


