@import '/src/styles/variables';

button {
  font-family: $conv-gilroy-extra;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
  padding: 12px 34px;
  border: 2px solid #D3A265;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $white;
    background: $light-orange;
  }
}
