// FONTS
$conv-bn-chester: 'Conv_BN Chester Regular', sans-serif;
$conv-gilroy-light: 'Conv_Gilroy-Light', sans-serif;
$conv-gilroy-extra: 'Conv_Gilroy-ExtraBold', sans-serif;

// COLORS
$dark-brown: #352C2C;
$brown: #3D3737;
$light-orange: #D3A165;
$black: #161616;
$white: #fff;
