<div class="container">
  <h1 class="service-title">Our <span>Services</span></h1>
  <div class="services">
    <div class="services-desc">
      <img class="services-image" src="/assets/images/sofa.svg" alt="sofa">
      <h2 class="services-title">INTERIOR DESIGN</h2>
      <p class="services-subtitle">
        Interior design services offer a vast variety of solutions for our clients’ homes and offices.
      </p>
    </div>
    <div class="services-desc">
      <img class="services-image" src="/assets/images/picture.svg" alt="picture">
      <h2 class="services-title">DECORATIVE SERVICES</h2>
      <p class="services-subtitle">
        Our professional decorators will be happy to help you change your house’s inner look.
      </p>
    </div>
    <div class="services-desc">
      <img class="services-image" src="/assets/images/table.svg" alt="table">
      <h2 class="services-title">SPACE PLANNING</h2>
      <p class="services-subtitle">
        We create better interior experiences through our space planning services.
      </p>
    </div>
    <div class="services-desc">
      <img class="services-image" src="/assets/images/pencil.svg" alt="pencil">
      <h2 class="services-title">PROJECT MANAGEMENT</h2>
      <p class="services-subtitle">
        We provide proper project management as it’s one of the main success factors in interior design.
      </p>
    </div>
  </div>

  <div class="services-button">
    <app-button [text]="'Free consultation'"></app-button>
  </div>
</div>
