@import 'src/styles/variables';

.portfolio-title {
  text-align: center;
  font-family: $conv-bn-chester;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  color: $black;
  margin-bottom: 85px;

  & span {
    color: $light-orange;
  }
}

.cards {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 78px;

  .card {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    & img {
      object-fit: cover;
    }

    @media(max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 965px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 670px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media(max-width: 395px) {
      place-items: center;
    }
  }
}

.params {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .view-more {
    font-family: $conv-gilroy-light;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: $black;
    background: none;
    border: none;
    cursor: pointer;

    @media(max-width: 769px) {
      display: none;
    }
  }

  .params-button {
    cursor: pointer;
    border: none;
    background: transparent;
    font-family: $conv-gilroy-light;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $black;
    margin-right: 59px;

    &.active {
      color: $light-orange;
      font-weight: 600;
    }

    &:hover {
      color: $light-orange;
    }

    @media(max-width: 965px) {
      margin-right: 20px;
    }

    @media(max-width: 395px) {
      margin-right: 10px;
    }
  }

  .filters {
    @media(max-width: 395px) {
      text-align: center;
    }
  }
}
